# Alpaca API Keys
# Paper Trading API Keys (테스트용)
ALPACA_PAPER1_KEY_ID=PKDL0D5KSEL83J2TL1CU
ALPACA_PAPER1_SECRET_KEY=YTKxcrw2Fa2dJaDHjdkqL7JqmQ0KpKrbhcWjL5gU

ALPACA_PAPER2_KEY_ID=PK0RZQ2NWBIRFGYDGIEN
ALPACA_PAPER2_SECRET_KEY=6a43XEXcvLUiZMAUzn9vzDpbyNntxV2CFus9NqgF

ALPACA_PAPER3_KEY_ID=PK68H2REKQA35BBC7RMS
ALPACA_PAPER3_SECRET_KEY=rl7JZIFVkthCRYt22gCy8XKAfgr7biPR3tit2aLM

# Live Trading API Keys (실거래용 - 주의!)
ALPACA_LIVE_KEY_ID=AK3JTD5TBP3437Q5SUTO
ALPACA_LIVE_SECRET_KEY=ZBr5ZHtF7QBVIsQ6AvXpbua5TxjxGIUJkKe3hqeM

# API URLs
ALPACA_BASE_URL_PAPER=https://paper-api.alpaca.markets
ALPACA_BASE_URL_LIVE=https://api.alpaca.markets
ALPACA_DATA_BASE_URL=https://data.alpaca.markets

# Data Feed
DATA_FEED=iex

# Timezone
TZ=America/New_York

# Default Account
DEFAULT_ACCOUNT=paper1

# App Port
APP_PORT=8000